.skeleton {
  background: linear-gradient(
    90deg,
    var(--pico-muted-border-color) 25%,
    var(--pico-card-sectioning-background-color) 50%,
    var(--pico-muted-border-color) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
